/* Head/Nav */
* {box-sizing:border-box;}

body {background-color:hsl(220,60%,70%);
	font-family:verdana, sans-serif;}

/*new color hsl(330,85,65%)*/

header {list-style-type:none;
	margin-left:10%; margin-right:10%;
	margin-bottom:2%; margin-top:1%;
	padding-left:5%; padding-right:5%;
	font-size:calc(17px + 1vw);text-align:center; background-color:white;
	color:black; border-style:solid;text-transform:uppercase;}
	
nav {padding-top: 3%;}
	
header h3 {color:black; margin-top:-1%;letter-spacing:.05em;
			padding-top: 2%;
			padding-bottom: 2%;}

#subheading{font-size:calc(8px + 1vw); font-weight:800; font-style:italic;
			text-transform:lowercase; word-spacing:.5em; 
			margin-top:-2%; margin-bottom:2%; color:rgb(242, 90, 166);}
			

	/*color:hsla(0, 69%, 40%,1)*/
	
a {text-decoration:none; color:white;}

#link {color:red; font-weight:bold;}

#menu{list-style-type:none;text-align:center;
		padding-left:3%; padding-right:3%;
		padding-bottom:1%; padding-top:-1%;
		background-color:rgb(242, 90, 166); 
		border-style:solid; border-color:black; word-spacing:calc(10px + 6vw);}
	/*background-color:hsla(0, 69%, 30%, 1);
	The menu has a slightly darker shade of pink. 
	background-color:hsla(0°, 69%, 20%, 1);*/	
	
.item{display:inline; font-size:calc(4px + 1vw); padding-left:2%;
		padding-right:2%; }
#menu a {color:white;}		
	
#title {text-align:center; padding-top:1%;text-transform:uppercase;font-size:calc(12px + 1vw);}



/* Main */

.wrapper1 {margin-left:10%; margin-right:10%;
			background-color:white;border-style:solid;
			padding-bottom:4%;}
.wrapper2 {margin-left:8%; margin-right:8%;}	

.wrapper1 p {font-size:calc(3px + 1vw);}
.wrapper1 li {font-size:calc(3px + 1vw);
				padding-bottom: 5%;
				padding-top: 4%;
				text-align: center;
				list-style-type:none;}
	

.wrapper1 h3 {font-size:calc(5px + 1vw);}

h2 {font-weight: bold;
	text-align:center;
	padding-top:3%;
	padding-bottom:3%;
	}

h3 {text-align:center;
	padding-top:3%;
	padding-bottom:3%;}

/*Buttons*/

.button {
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		display: inline-block;
		background: #444;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.25em;
		text-decoration: none;
		border-radius: 0.35em;
		border: 0;
		outline: 0;
		cursor: pointer;
		padding: 0 2.25em 0 2.25em;
		font-size: 0.9em;
		min-width: 12em;
		height: 4em;
		line-height: 4em;
	}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			background-color: #f98780;
		}

		input[type="button"].large,
		input[type="submit"].large,
		input[type="reset"].large,
		button.large,
		.button.large {
			font-size: 1em;
			min-width: 14em;
		}

		input[type="button"].style1,
		input[type="submit"].style1,
		input[type="reset"].style1,
		button.style1,
		.button.style1 {
			background: #2F3E46 url("images/overlay.png");
			color: #fff;
		}

		input[type="button"].style1:hover,
		input[type="submit"].style1:hover,
		input[type="reset"].style1:hover,
		button.style1:hover,
		.button.style1:hover {
			background-color: rgb(242, 90, 166);
			}

		input[type="button"].style1:active,
		input[type="submit"].style1:active,
		input[type="reset"].style1:active,
		button.style1:active,
		.button.style1:active {
			background-color: #d96760;
			}
			
/*Mission*/
.mission {padding-right:14%;
		padding-left:14%;}	


/*Images*/
	.image {
		display: inline-block;
	}

		.image img {
			display: block;
			width: 100%;
			border-style: solid;
			border-color: black;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}
		
		.row {margin:auto;}
		
		.col-4 {padding-left: 4%;
			padding-right: 4%;}
/*Footer*/
footer {text-align:center; font-size:calc(3px + 1vw);}

