* {margin:0;padding:0;box-sizing: border-box;font-family:verdana, sans-serif;}

body{background-color: hsl(220, 60%, 70%);}

header {list-style-type:none;
	margin: 20% 20%;
	margin-bottom:2%; margin-top:1%;
	font-size:calc(17px + 1vw);text-align:center; background-color:white;
	color:white; border-style:solid;text-transform:uppercase;}
header h3 {color:black; margin-top:-1%;letter-spacing:.05em;}

#subheading{font-size:calc(8px + 1vw); font-weight:800; font-style:italic;
			text-transform:lowercase; word-spacing:.5em; 
			margin-top:-2%; margin-bottom:2%; color:hsl(330, 85%, 65%);}

a {text-decoration:none; color:black;}
#link {color:hsl(330, 85%, 65%); font-weight:bold;}

#menu{list-style-type:none;text-align:center; display:block;
		padding-left:3%; padding-right:3%;
		padding-bottom:1%; padding-top:-1%;
		background-color:hsla(330, 85%, 65%, .9); 
		border-style:solid; border-color:white; word-spacing:calc(10px + 6vw);}
.item{display:inline; font-size:calc(4px + 1vw); padding-left:2%;
		padding-right:2%;}

.pagewrapper {
  border: 4px solid white;
  border-radius: 30px;
  padding: 1%;
  margin: 0 10% 1% 10%;
  font-size:calc(7px + 0.5vw);
}

.recipe1{
  border-radius: 30px;
	border: 1px solid black;
	background-color: hsl(330, 85%, 65%);
	width: 450px;
	height: 202px;
	margin-left: 50px;
	box-shadow: 3px 3px 3px black;
	float:left;
	margin-bottom: 20px;
}

.recipe2{
  border-radius: 30px;
	border: 1px solid black;
	background-color: hsl(330, 85%, 65%);
	width: 450px;
	height: 202px;
	margin-left: 50px;
	box-shadow: 3px 3px 3px black;
	float:right;
	margin-bottom: 20px;
}

.recipe3{
  border-radius: 30px;
	border: 1px solid black;
	background-color: hsl(330, 85%, 65%);
	width: 450px;
	height: 202px;
	margin-left: 50px;
	box-shadow: 3px 3px 3px black;
	float:right;
	margin-bottom: 20px;
}

.recipe4{
  border-radius: 30px;
	border: 1px solid black;
	background-color: hsl(330, 85%, 65%);
	width: 500px;
	height: 202px;
	margin-left: 50px;
	box-shadow: 1px 1px 1px black;
	float:left;
}



img{
	margin-right:5px;
	border-radius: 30px;
  border: 1px solid black;
  width: 250px;
  height: 200px;
  float: left;
}

footer {
  clear: both; 
  background-color: #000000; 
  color: #FFFFFF;
  padding: 7px;
  text-align: center; 
  padding: 5px;
  font-size: calc(5px + 1vw);
}